$mainBrown: rgb(153	134	118);
$lightBrown: rgb(198 178 154);
$iconGrey: rgb(54 54 54);
$textGrey: rgb(140 140 140);
$textDarkGrey: rgb(64 64 64);
$bgBeige: rgb(251 250 248);
$gradLBrown: rgb(76 51 40);
