.hero-banner {
  position: relative;
  max-height: 1024px;

  &__image {
    display: block;
    filter: grayscale(60%) /*opacity(70%)*/;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

  }

  &__title {
    font-weight: 900;
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    letter-spacing: -1.5px;
    margin: 5px;

    @media (min-width: 530px) {
      font-size: 3.125rem;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    letter-spacing: -1px;
    margin: 5px;

    @media (min-width: 530px) {
      font-size: 2.1875rem;
    }
  }

  &__description {
    font-weight: 400;
    font-size: .6rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    letter-spacing: -1px;
    max-width: 38.125rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 530px) {
      font-size: 1rem;
    }
  }

}
